<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
  </head>

  <body>
    {% if request.user.is_authenticated %}
      <h2>hello!!
        {{ user }}</h2>
      <a href="{% url 'accounts:logout' %}">로그아웃</a>
      <a href="{% url 'accounts:delete' %}">회원탈퇴</a>
      <a href="{% url 'accounts:update' %}">수정하기</a>
    {% else %}
      <a href="{% url 'accounts:login' %}">로그인</a>
      <a href="{% url 'accounts:signup' %}">회원가입</a>
    {% endif %}

    {% block content %}{% endblock content %}
    {% block script %}{% endblock script %}
  </body>

</html>